.name{
    font-size: 20px;
    width: 80%;
    font-weight: 500;
  }
  
  .quantity{
      width: 20%;
      text-align: center;
  
  }
  
  .sum{
    text-align: right;
    font-weight: 700;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
  }
  
  .paid{
      font-weight: 600;
      font-size: 20px;
      color: rgb(187, 187, 187);
  }
  
  .title{
      font-size: 18px;
  }
  
  .header{
      padding: 20px;
  }