<div class="container">
  <div *ngIf="isSignedUp; else signupForm">
    Your registration is successful. Please login!
  </div>
  <ng-template #signupForm class="content">
      <mat-card class="registerCard">
        <mat-card-header>
          <mat-card-title><h2>Rejestracja</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content class="cardContent">
          <form [formGroup] = "registerForm" (ngSubmit) = "register()" >
            <mat-form-field>
              <input matInput placeholder="Imię" formControlName = "firstName" name="firstName" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nazwisko" formControlName = "lastName" name="lastName" required>
              </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Login" formControlName = "username" name="username" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="E-mail" formControlName = "email" name="email" required>
              </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="Hasło" formControlName = "password" name="password" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password"  placeholder="Powtórz hasło" (keyup.enter)="register()" formControlName = "repeatPassword" name="repeatPassword" required>
              </mat-form-field>
            <a mat-stroked-button class="buttonRegister" (click)="register()">Zarejestruj</a>
          </form>
        </mat-card-content>
        <mat-card-actions class="cardActions">
            <h3>Masz już konto?<br/>
              <a routerLink="/login">Zaloguj sie!</a>
            </h3>
        </mat-card-actions>
      </mat-card>
  </ng-template>
</div>