<div  class="content">
    <mat-accordion>
    
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>
              <mat-icon class="icon">person</mat-icon>
              <b><u>Moje dane</u></b>
            </h4>
          </mat-panel-title>
          <mat-panel-description class="centerHeader">
            <h4>Login: {{this.user.username}}</h4>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem"><b>Imię:</b> <div class="paddingLeft">{{this.user.firstName}}</div></mat-list-item>
          <mat-list-item role="listitem"><b>Nazwisko:</b> <div class="paddingLeft">{{this.user.lastName}}</div></mat-list-item>
          <mat-list-item role="listitem"><b>E-mail:</b> <div class="paddingLeft">{{this.user.email}}</div></mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>
                <mat-icon class="icon">https</mat-icon>
              <b><u>Zmiana hasła</u></b>
            </h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <div class="center">
          <form [formGroup]="changePasswordForm">
            <mat-form-field class="example-full-width formPassword">
              <input matInput type="password" placeholder="Aktualne hasło" formControlName="currentPassword">
              <mat-error *ngIf="changePasswordForm.get('currentPassword').hasError('required')">
                Podanie obecnego hasła jest <strong>wymagane</strong>!
              </mat-error>
            </mat-form-field>
    
            <mat-form-field class="example-full-width formPassword">
              <input matInput type="password" placeholder="Nowe hasło" formControlName="newPassword">
              <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('pattern') && !changePasswordForm.get('newPassword').hasError('required') && !changePasswordForm.get('newPassword').hasError('minlength')">
                Hasło musi <strong>być silne</strong> (mała litera, duża, cyfra i znak specyjalny)!
              </mat-error>
              <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">
                Nowe hasło jest <strong>wymagane</strong>!
              </mat-error>
              <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('minlength') && !changePasswordForm.get('newPassword').hasError('required')">
                Hasło musi zawierać <strong>minimum 8 znaków i być silne</strong> (mała litera, duża, cyfra i znak specyjalny)!
              </mat-error>
            </mat-form-field>
    
            <mat-form-field class="example-full-width formPassword">
              <input matInput type="Password" placeholder="Powtórz nowe hasło" formControlName="confirmPassword" pattern="{{changePasswordForm.get('newPassword').value}}">
              <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('pattern') && !changePasswordForm.get('confirmPassword').hasError('required')">
                Podane hasła są <strong>różne</strong> !
              </mat-error>
              <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">
                Powtórzenie nowego hasła jest <strong>wymagane</strong>!
              </mat-error>
            </mat-form-field>
    
          <button mat-raised-button class="saveBtn" (click)="changePassword()">Zapisz zmiany</button>
          </form>
        </div>
    
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>
                <mat-icon class="icon">email</mat-icon>
              <b><u>Zmiana email</u></b>
            </h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <div class="center">
          <form [formGroup]="changeEmailForm">
            <mat-form-field class="example-full-width formPassword">
              <input matInput type="text" placeholder="Nowy e-mail" formControlName="email">
              <mat-error *ngIf="changeEmailForm.get('email').hasError('required')">
                Podanie adresu e-mail jest <strong>wymagane</strong>!
              </mat-error>
              <mat-error *ngIf="changeEmailForm.get('email').hasError('email')">
                Podany adres e-mail jest <strong>nie poprawny</strong>!
              </mat-error>
            </mat-form-field>
    
          <button mat-raised-button class="saveBtn" (click)="changeEmail()">Zmień</button>
          </form>
        </div>
    
      </mat-expansion-panel>
<!--     
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>
              <mat-icon *ngIf="account[2]>=0" class="greenIcon icon">attach_money</mat-icon>
              <mat-icon *ngIf="account[2]<0" class="redIcon icon">attach_money</mat-icon>
              <b><u>Moje konto</u></b>
            </h4>
          </mat-panel-title>
          <mat-panel-description class="centerHeader">
            <h4 *ngIf="account[2]<0" class="loss">Stan rachunku: {{account[2].toFixed(2)}} PLN</h4>
            <h4 *ngIf="account[2]>=0" class="win">Stan rachunku: {{account[2].toFixed(2)}} PLN</h4>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="divLeft">
          <mat-list role="list">
            <mat-list-item role="listitem">Wygrane: <div class="win paddingLeft"> {{account[0].toFixed(2)}} PLN</div> </mat-list-item>
            <mat-list-item role="listitem">Przegrane: <div class="loss paddingLeft"> {{(-1*account[1]).toFixed(2)}} PLN</div></mat-list-item>
            <mat-list-item role="listitem" *ngIf="account[2]<0">Saldo: <div class="loss paddingLeft"> {{account[2].toFixed(2)}} PLN</div></mat-list-item>
            <mat-list-item role="listitem" *ngIf="account[2]>=0">Saldo: <div class="win paddingLeft"> {{account[2].toFixed(2)}} PLN</div></mat-list-item>
            <mat-list-item role="listitem">Oczekujące: <div class="blue paddingLeft"> {{account[3].toFixed(2)}} PLN</div> </mat-list-item>
          </mat-list>
        </div>
        <div class="centerLine"></div>
        <div class="divLeft">
          <mat-list role="list">
            <mat-list-item role="listitem">Liczba wygranych zakładów: <div class="win paddingLeft"> {{account[4].toFixed(0)}}</div></mat-list-item>
            <mat-list-item role="listitem">Liczba przegranych zakładów: <div class="loss paddingLeft"> {{account[5].toFixed(0)}}</div></mat-list-item>
            <mat-list-item role="listitem">Liczba oczekujących zakładów: <div class="blue paddingLeft"> {{account[6].toFixed(0)}}</div></mat-list-item>
          </mat-list>
        </div>
      <div style="clear:both;"></div>
      </mat-expansion-panel>
    
      <mat-expansion-panel (closed)="panelOpenGraph = false" (opened)="panelOpenGraph = true; getGraph()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>
              <mat-icon class="icon">swap_vert</mat-icon>
              <b><u>Wykres szans</u></b>
            </h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="center">
          <fusioncharts *ngIf="panelOpenGraph"
            width="100%"
            height="300px"
            type="AngularGauge"
            dataFormat="json"
            [dataSource]="dataSourceGraph">
          </fusioncharts>
          <nav *ngIf="chance>=33 && chance<66" class="displayPercent blue">Twoja trafność wynosi: {{chance.toFixed(0)}} %</nav>
          <nav *ngIf="chance>=66" class="displayPercent win">Twoja trafność wynosi: {{chance.toFixed(0)}} %</nav>
          <nav *ngIf="chance<33" class="displayPercent loss">Twoja trafność wynosi: {{chance.toFixed(0)}} %</nav>
        </div>
      </mat-expansion-panel> -->
       
    </mat-accordion>
</div>