<div>
    <h1 mat-dialog-title >Edycja menu:</h1>
</div>

<form [formGroup]="editForm" class="formEdit">

    <mat-form-field >            
        <input matInput [matDatepicker]="picker1"  formControlName="startDate" placeholder="Podaj czas rozpoczęcia"/>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>   

    <mat-form-field >            
        <input matInput [matDatepicker]="picker2"  formControlName="finishDate" placeholder="Podaj czas zakończenia"/>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>  

    <mat-form-field >            
        <input matInput [matDatepicker]="picker3"  formControlName="deliveryTime" placeholder="Podaj czas dostawy"/>
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>  

    <mat-form-field >            
        <input matInput formControlName="dishes" placeholder="Podaj dania"/>
        <mat-error>
            Pole <strong>wymagany</strong>!
        </mat-error>
    </mat-form-field> 

    <div class="ngx-material-timepicker-example__form-group">
        <input placeholder="Default time 11:11 pm" aria-label="default time"
            [ngxTimepicker]="defaultTime" readonly>
        <ngx-material-timepicker #defaultTime [defaultTime]="'11:11 pm'"></ngx-material-timepicker>
    </div>
    
    <button mat-flat-button class="saveBtn" (click)="editMenu()">Zapisz</button>
    <button mat-raised-button class="cancelBtn" (click)="cancel()">Anuluj</button>
    
</form>

