<div class="list">
  <mat-card class="post" *ngFor="let menu of menuList">
      <mat-card-header>
        <div mat-card-avatar class="header-image"  [ngClass]="{'imageColor': menu.avtive}"></div>
        <mat-card-title>{{menu.startDate | date: 'dd/MM/yyyy HH:mm'}}</mat-card-title>
        <mat-card-subtitle>{{menu.finishDate | date: 'dd/MM/yyyy HH:mm' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <button mat-raised-button class="buttons" *ngIf="menu.avtive" (click)="activeMenu(menu.id)">Zatrzymaj</button>
        <button mat-raised-button class="buttons" *ngIf="!menu.avtive" (click)="activeMenu(menu.id)">Aktywuj</button>
        <button mat-raised-button class="buttons" [disabled]="menu.avtive" (click)="editMenu(menu)">Edytuj</button>
        <button mat-raised-button class="buttons"  [disabled]="menu.avtive" (click)="archiveMenu(menu.id)">Usuń</button>
      </mat-card-content>
  </mat-card>
  <button mat-flat-button class="addBtn" (click)="addMenu()">Dodaj menu</button>
</div>

  