  
.list {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    margin-top: 20px;
}
.post {
    margin-bottom: 20px;
  }
  
.header-image {
    
    background-size: cover;
    background-color: rgb(218, 27, 27);
    border: 1px;
    border: solid;
  }

.imageColor {
  background-color: rgb(19, 214, 36);
}

.typeDish{
  display: inline;
}

.buttons {
  margin-left: 5%;
  width: 100px;
}

.addBtn{
  background: #0066ff;
  color: #fff;
  width: 100%;
  margin-top: 15px;
}

.fieldQuantity{
  text-align: center;
  width: 100px;
  margin-left: 50px;
}







.saveBtn {
  background: #0066ff;
}

.cancelBtn {
  background: #BBBBBB;
}

.formEdit > mat-form-field {
    width: 100%;
}

.formEdit > button {
  color: #fff;
  width: 100%;
  margin-top: 15px;
}

.time{
  z-index: 1000 !important;
}

.timepicker-overlay[_ngcontent-drx-c11] {
  z-index: 1000 !important;
}